/** reset **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img {
  border: medium none;
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 14px/1.5 'Microsoft Sans Serif',arial,'Microsoft Yahei',tahoma, Srial, helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

em {
  font-style: normal; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: none;
  color: #1f63a5;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

img {
  border: 0px;
  outline-width: 0px;
  vertical-align: top; }

.clearfix:after {
  clear: both;
  content: "\200B";
  display: block;
  height: 0; }

.clearfix {
  *zoom: 1; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ccc; }

body {
word-break: break-word; 
word-wrap: break-word;}

.mainCont {
  position: relative;
  width: 100%;
  min-width: 1200px; }

.dft-header {
  width: 100%;
  min-width: 1200px;
  position: absolute;
  left: 0;
  top: 0;
  height: 148px;
  z-index: 9;
  background-color: rgba(7, 76, 145, 0.9);
  background: #1f5d9c \9;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.13); }

.topbar {
  width: 1200px;
  margin: 0 auto;
  height: 98px;
  position: relative;
  z-index: 2; }
  .topbar .logo {
    float: left;
    margin-top: 20px; }
  .topbar .user-opr {
    float: right;
    *width: 240px;
    margin-top: 30px; }
    .topbar .user-opr .srhbox {
      float: left;
      width: 198px;
      height: 28px;
      border: 1px solid #fff;
      -webkit-border-radius: 14px;
      -moz-border-radius: 14px;
      border-radius: 14px;
      position: relative; 
overflow: hidden;
}
    .topbar .user-opr .txt {
      padding: 5px 0 5px 12px;
      width: 158px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 0;
      background: none;
      outline: none;
      color: #fff; }
    .topbar .user-opr .btn {
      width: 16px;
      height: 16px;
      background: url(../image/ico_index2.png) 0 -11px no-repeat;
      position: absolute;
      right: 9px;
      top: 6px;
      cursor: pointer;
      outline: none; }
  .topbar .item {
    float: left;
    margin-left: 10px; }
    .topbar .item.lag {
      width: 28px;
      height: 28px;
      border: 1px solid #fff;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      position: relative;
      font-size: 14px; }
      .topbar .item.lag span {
        display: block;
        width: 28px;
        height: 28px;
        text-align: center;
        line-height: 28px; }
        .topbar .item.lag span a {
          display: block;
          color: #fff; }
      .topbar .item.lag .dropdown {
        display: none;
        position: absolute;
        right: 0;
        top: 28px; }
        .topbar .item.lag .dropdown ul {
          margin: 10px 0;
          width: 100px;
          background: #3d79b5; }
          .topbar .item.lag .dropdown ul li {
            display: block;
            border-bottom: 1px solid #619dd8;
            text-align: center; }
            .topbar .item.lag .dropdown ul li a {
              display: block;
              padding: 4px 10px;
              color: #fff; }
              .topbar .item.lag .dropdown ul li a:hover {
                background: #1d5b99; }
            .topbar .item.lag .dropdown ul li:last-child {
              border-bottom: none; }

.navBar {
  border-top: 1px solid #497aac;
  position: relative;
  z-index: 1; }
  .navBar ul.navbox {
    width: 1200px;
    margin: 0 auto; }
    .navBar ul.navbox li {
      float: left;
      position: relative; }
      .navBar ul.navbox li h3 {
        font-weight: normal;
        height: 49px;
        line-height: 49px;
        text-align: center; }
        .navBar ul.navbox li h3 a {
          font-size: 16px;
          color: #fff;
          display: block;
          padding: 0 35px; }
        .navBar ul.navbox li h3 i.ico {
          display: inline-block;
          vertical-align: middle;
          width: 14px;
          height: 8px;
          margin-left: 8px;
          background: url(../image/ico_index2.png) 0 0 no-repeat;
          vertical-align: middle;
          transition: all .3s; }
        .navBar ul.navbox li h3 a:hover {
          font-weight: bold; }
      .navBar ul.navbox li.active h3 i.ico {
        transform: rotate(180deg); }
    .navBar ul.navbox .dropdown1 {
      display: none;
      width: 126px;
      top: 49px;
      left: 50%;
      margin-left: -63px;
      position: absolute;
      z-index: 9;
      background: #3d79b5; }
      .navBar ul.navbox .dropdown1 li {
        float: none;
        width: 100%;
        border-bottom: 1px solid #619dd8;
        margin: 0;
        background: #3d79b5; }
        .navBar ul.navbox .dropdown1 li:last-child {
          border-bottom: none; }
        .navBar ul.navbox .dropdown1 li h2 {
          font-weight: normal;
          text-align: center; }
          .navBar ul.navbox .dropdown1 li h2 a {
            font-size: 16px;
            color: #fff;
            display: block;
            padding: 12px 10px; }
            .navBar ul.navbox .dropdown1 li h2 a:hover {
              background: #1d5b99; }
        .navBar ul.navbox .dropdown1 li.active {
          background: #1d5b99; }
    .navBar ul.navbox .dropdown2 {
      display: none;
      position: absolute;
      width: 126px;
      right: -126px;
      top: 0;
      background: none;
      text-align: center;
      background: #3d79b5 \9; }
      .navBar ul.navbox .dropdown2 li {
        margin: 0 1px;
        background: #3d79b5; }
        .navBar ul.navbox .dropdown2 li h1 {
          font-weight: normal;
          text-align: center; }
          .navBar ul.navbox .dropdown2 li h1 a {
            font-size: 16px;
            color: #fff;
            display: block;
            padding: 12px 10px;
            background: #3d79b5; }
            .navBar ul.navbox .dropdown2 li h1 a:hover {
              background: #1d5b99; }

@media only screen and (max-width: 1700px) {
  .navBar ul.navbox li .dropdown1 .dropdown2 {
    right: 126px;
    padding: 0 2px; } }
.banner {
  height: 628px;
  min-width: 1200px;
 }
  .banner .wrap {
    width: 1200px;
    margin: 0 auto;
    padding-top: 206px; }

.infoblock {
  background: #fff;
  width: 756px;
  height: 360px; }
  .infoblock .user-photo {
    float: left;
    margin-top: 40px;
    width: 240px; }
    .infoblock .user-photo .photos {
      width: 168px;
      height: 202px;
      margin: 0 auto;
      display: table;
      overflow: hidden;
      border: 1px solid #9fc5ec; }
      .infoblock .user-photo .photos span {
        display: table-cell;
        *display: block;
        vertical-align: middle;
        text-align: center; }
        .infoblock .user-photo .photos span img {
          max-width: 168px;
          max-height: 202px; }
    .infoblock .user-photo .dianzan {
      text-align: center;
      padding-top: 19px;
      padding-bottom: 15px;
      width: 170px;
      margin: 0 auto;
      border-bottom: 1px solid #f6f6f6; }
      .infoblock .user-photo .dianzan i.ico {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(../image/ico_index2.png) -30px 0 no-repeat;
        margin-right: 9px;
        vertical-align: middle;
        position: relative;
        top: -2px; }
      .infoblock .user-photo .dianzan span {
        display: inline-block;
        line-height: 24px;
        color: #404040;
        font-size: 16px;
        vertical-align: middle; }
    .infoblock .user-photo .boshuo {
      text-align: center;
      padding-top: 14px; }
      .infoblock .user-photo .boshuo a {
        color: #0377ce;
        margin: 0 15px;
        font-size: 14px; }
        .infoblock .user-photo .boshuo a:hover {
          color: #000; }
  .infoblock .user-msg {
    float: left;
    width: 487px;
    padding-top: 40px; }
    .infoblock .user-msg .name {
      color: #666666;
      font-size: 16px; }
      .infoblock .user-msg .name strong {
        color: #0161a9;
        font-size: 24px;
        margin-right: 9px; }
    .infoblock .user-msg .bd {
      height: 236px;
      overflow: hidden;
      margin-top: 6px; }
    .infoblock .user-msg .item {
      height: 230px;
      overflow: hidden; }
      .infoblock .user-msg .item p {
        line-height: 28px;
        color: #202020; }
      .infoblock .user-msg .item a {
        color: #f47e57;
        text-transform: uppercase;
        font-size: 12px; }
        .infoblock .user-msg .item a:hover {
          color: #000; }
    .infoblock .user-msg .hd {
      text-align: center; }
      .infoblock .user-msg .hd li {
        display: inline-block;
        width: 26px;
        height: 8px;
        margin: 0 5px;
        background: #ccc;
        text-indent: 999px;
        overflow: hidden;
        cursor: pointer; }
        .infoblock .user-msg .hd li.on {
          background: #0161a9; }

.shwork {
  width: 1200px;
  margin: 0 auto; }
  .shwork .wrap {
    margin-left: -33px;
    *margin-left: 0;
    padding: 44px 0 68px; }

.shworklist {
  float: left;
  width: 275px;
  margin-left: 33px;
  *margin: 0 12px; }
  .shworklist h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: normal; }
  .shworklist .cont {
    min-height: 395px;
    border: 1px solid #f2f2f2;
    background: #fff;
    position: relative; }
    .shworklist .cont .scrollbar {
      margin-bottom: 62px; }
    .shworklist .cont ul {
      margin: 0 20px; }
      .shworklist .cont ul li {
        border-bottom: 1px dashed #e6e6e6;
        padding: 14px 0; }
        .shworklist .cont ul li span {
          display: block;
          line-height: 32px;
          font-size: 16px;
          color: #666; }
        .shworklist .cont ul li p {
          line-height: 24px;
          color: #202020; }
    .shworklist .cont .yjfx {
      margin: 0 20px;
      padding: 14px 0;
      border-bottom: 1px dashed #e6e6e6; }
      .shworklist .cont .yjfx p {
        color: #202020;
        line-height: 36px; }
  .shworklist .more {
    width: 86px;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -43px;
    bottom: 19px; }
    .shworklist .more a {
      display: block;
      width: 86px;
      height: 32px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: #fff;
      text-align: center;
      line-height: 32px;
      overflow: hidden; }
      .shworklist .more a:hover {
        opacity: .8; }
  .shworklist.shworklist1 .cont {
    border-top: 4px solid #297ed3; }
    .shworklist.shworklist1 .cont .more a {
      background: #297ed3; }
  .shworklist.shworklist2 .cont {
    border-top: 4px solid #f47e57; }
    .shworklist.shworklist2 .cont .more a {
      background: #f47e57; }
  .shworklist.active .cont {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.Speakcourse {
  min-height: 430px;
  background: #f7f7f7; }
  .Speakcourse .wrap {
    width: 1200px;
    margin: 0 auto;
    padding-top: 42px; }

.Speakbox {
  float: left;
  width: 275px;
  text-align: center; }
  .Speakbox h2 {
    font-size: 20px; }
  .Speakbox ul {
    margin-top: 20px; }
    .Speakbox ul li {
      line-height: 32px; }
      .Speakbox ul li em {
        display: inline-block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        background: url(../image/ico_dot.png) no-repeat;
        margin-right: 9px; }

.teambox {
  float: left;
  width: 925px; }
  .teambox h2 {
    font-size: 20px;
    text-align: center; }
  .teambox .cont {
    width: 810px;
    margin: 0 auto; }
  .teambox .t {
    padding: 18px 0; }
    .teambox .t h3 {
      float: left;
      font-size: 16px;
      color: #297ed3; }
    .teambox .t a {
      float: right;
      font-size: 12px;
      text-transform: uppercase;
      color: #297ed3; }
      .teambox .t a:hover {
        color: #000; }
  .teambox .tmenber {
    position: relative; }
    .teambox .tmenber a.prev, .teambox .tmenber a.next {
      display: block;
      width: 17px;
      height: 32px;
      background: url(../image/ico_index2.png) 0 0 no-repeat;
      position: absolute;
      top: 50%;
      margin-top: -16px; }
    .teambox .tmenber a.prev {
      background-position: -68px 0;
      left: -38px; }
    .teambox .tmenber a.next {
      background-position: -98px 0;
      right: -38px; }
    .teambox .tmenber a.prevStop, .teambox .tmenber a.nextStop {
      opacity: 0.5; }
    .teambox .tmenber .bd {
      height: 180px;
      overflow: hidden; }
      .teambox .tmenber .bd li {
        text-align: center;
        width: 134px;
        margin: 0 35px 0 0; }
        .teambox .tmenber .bd li .img {
          width: 132px;
          height: 178px;
          border: 1px solid #0161a9;
          display: table;
          overflow: hidden; }
          .teambox .tmenber .bd li .img span {
            display: table-cell;
            *display: block;
            vertical-align: middle;
            text-align: center; }
            .teambox .tmenber .bd li .img span img {
              max-width: 132px;
              max-height: 178px; }
        .teambox .tmenber .bd li p {
          text-align: center;
          font-size: 16px;
          padding: 12px 0; }
        .teambox .tmenber .bd li a:hover p {
          color: #297ed3; }
    .teambox .tmenber .hd {
      display: none; }
  .teambox a.btnchakan {
    display: block;
    width: 86px;
    height: 32px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #297ed3;
    color: #fff;
    text-align: center;
    line-height: 32px;
    margin: 32px auto 0; }
    .teambox a.btnchakan:hover {
      background: #1a6fc4; }

.Rshprojects {
  padding: 56px 0; }
  .Rshprojects .hd {
    color: #666;
    text-align: center;
    font-size: 20px; }
    .Rshprojects .hd a {
      margin: 0 20px;
      color: #666; }
    .Rshprojects .hd a.on {
      color: #f47e57;
      font-weight: bold; }
  .Rshprojects .bd {
    width: 1200px;
    margin: 0 auto; }
  .Rshprojects .inbd {
    padding: 38px 0 32px; }
    .Rshprojects .inbd ul {
      border-top: 1px solid #f2f2f2; }
      .Rshprojects .inbd ul li {
        float: left;
        width: 33.33%; }
        .Rshprojects .inbd ul li a {
          display: block;
          padding: 15px 0;
          height: 168px;
          border-bottom: 1px solid #f2f2f2;
          border-right: 1px solid #f2f2f2;
          line-height: 28px;
          overflow: hidden; }
          .Rshprojects .inbd ul li a .x-scrollbar {
            height: 168px;
            overflow: hidden;
            position: relative;
            padding: 0 26px; }
          .Rshprojects .inbd ul li a b {
            color: #f47e57;
            font-size: 16px;
            margin-right: 3px; }
          .Rshprojects .inbd ul li a:hover {
            color: #f47e57; }
        .Rshprojects .inbd ul li:nth-child(3n) a {
          border-right: none; }
    .Rshprojects .inbd a.btnchakan {
      display: block;
      width: 86px;
      height: 32px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background: #f47e57;
      color: #fff;
      text-align: center;
      line-height: 32px;
      margin: 32px auto 0; }
      .Rshprojects .inbd a.btnchakan:hover {
        background: #e86e46; }

.footer {javascript:doPublishSite();
  min-height: 162px;
  min-width: 1200px;
  background: url(../image/bg_foot1.jpg) center 0 no-repeat;
  background-size:100% 100%;
  color: #fff; }
  .footer .wrap {
    width: 1200px;
    min-height:175px;
    margin: 0 auto;
    padding-top: 30px; }
  .footer .foot-left {
    float: left;
    line-height: 30px;
    width: 550px; }
    .footer .foot-left a {
      color: #fff; }
      .footer .foot-left a:hover {
        text-decoration: underline; }
  .footer .qrcode {
    float: left;
    width: 100px;
    height: 100px; }
    .footer .qrcode img {
      width: 100%; }
  .footer .foot-right {
    float: right;
    width: 200px;
    text-align: right;
    line-height: 30px; }

.copyriht {
  padding: 10px 0;
  background: #fff;
  text-align: center; }

.dft-header2 {
  background: #1f5e9c; }

.banner-in {
  height: 480px; }
  .banner-in .wrap {
    padding-top: 193px; }

.infoblock2 {
  width: 454px;
  height: 243px; }
  .infoblock2 .user-photo {
    margin-top: 27px; }
    .infoblock2 .user-photo .photos {
      width: 158px;
      height: 190px;
      display: table;
      overflow: hidden; }
      .infoblock2 .user-photo .photos span {
        display: table-cell;
        *display: block;
        vertical-align: middle;
        text-align: center; }
        .infoblock2 .user-photo .photos span img {
          max-width: 158px;
          max-height: 190px; }
  .infoblock2 .user-in-r {
    float: left;
    width: 212px;
    padding-top: 47px; }
    .infoblock2 .user-in-r .name {
      color: #666666;
      font-size: 16px;
      padding-bottom: 26px; }
      .infoblock2 .user-in-r .name strong {
        color: #0161a9;
        font-size: 24px;
        margin-right: 9px; }
    .infoblock2 .user-in-r .dianzan {
      text-align: left;
      padding-top: 19px;
      padding-bottom: 15px;
      width: 170px;
      border-top: 1px solid #f6f6f6; }
      .infoblock2 .user-in-r .dianzan i.ico {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(../image/ico_index2.png) -30px 0 no-repeat;
        margin-right: 9px;
        vertical-align: middle;
        position: relative;
        top: -2px; }
      .infoblock2 .user-in-r .dianzan span {
        display: inline-block;
        line-height: 24px;
        color: #404040;
        font-size: 16px;
        vertical-align: middle; }
    .infoblock2 .user-in-r .boshuo {
      text-align: left;
      padding-top: 14px; }
      .infoblock2 .user-in-r .boshuo a {
        color: #0377ce;
        margin: 0 30px 0 0;
        font-size: 14px; }
        .infoblock2 .user-in-r .boshuo a:hover {
          color: #000; }

.in-block {
  width: 1200px;
  margin: 0 auto;
  padding: 15px 0 40px;
min-height: 200px; }
  .in-block .in-title {
    border-bottom: 1px solid #297ed3;
    padding: 6px 0;
    line-height: 24px; }
    .in-block .in-title h2 {
      width: 50%;
      float: left;
      font-size: 18px;
      color: #1f5e9c; }
    .in-block .in-title .loacl {
      width: 50%;
      float: right;
      text-align: right;
      color: #1f5e9c;
      font-size: 12px; }
      .in-block .in-title .loacl a {
        color: #1f5e9c; }
        .in-block .in-title .loacl a:hover {
          color: #000; }

.pesnl-intro {
  padding: 40px 0 20px; }
  .pesnl-intro p {
    line-height: 28px; }

.work-expr {
  padding: 20px 0; }
  .work-expr ul li {
    border-bottom: 1px dashed #e6e6e6;
    padding: 10px 0;
    line-height: 32px; }
    .work-expr ul li span {
      display: block;
      font-size: 16px;
      color: #666666; }
    .work-expr ul li p {
      color: #202020; }

.other-ctat {
  padding: 20px 0; }
  .other-ctat p {
    line-height: 28px; }

.Teamber {
  padding: 20px 0; }
  .Teamber .item h3 {
    color: #f47e57;
    font-size: 16px;
    padding: 20px 0 10px; }
  .Teamber .item .intr {
    margin-bottom: 10px; }
  .Teamber .item ul li {
    float: left;
    width: 150px;
    margin-right: 36px;
    margin-bottom: 10px; }
  .Teamber .item ul .img {
    width: 148px;
    height: 178px;
    border: 1px solid #0161a9;
    display: table;
    overflow: hidden; }
    .Teamber .item ul .img span {
      display: table-cell;
      *display: block;
      vertical-align: middle;
      text-align: center; }
      .Teamber .item ul .img span img {
        max-width: 148px;
        max-height: 178px; }
  .Teamber .item ul p {
    padding: 5px 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .Teamber .item2 h3 {
    margin-bottom: 20px; }
  .Teamber .item2 ul li .img {
    width: 146px;
    height: 176px;
    border: 2px solid #ffefea;
    display: table;
    overflow: hidden; }
    .Teamber .item2 ul li .img span {
      display: table-cell;
      *display: block;
      vertical-align: middle;
      text-align: center; }
      .Teamber .item2 ul li .img span img {
        max-width: 146px;
        max-height: 176px; }

.other-ctat2 {
  padding: 20px 0; }
  .other-ctat2 p {
    line-height: 36px; }

.listbox {
  padding-bottom: 50px; }
  .listbox ul li {
    border-bottom: 1px dashed #dfdfdf;
    padding: 15px 0; }
    .listbox ul li em {
      display: inline-block;
      vertical-align: top;
      width: 4px;
      height: 4px;
      background: #9b9b9b;
      margin-right: 10px;
      position: relative;
      top: 8px;
      *top: 6px; }
    .listbox ul li h2 {
      font-weight: normal;
      display: inline-block;
      *display: inline;
      vertical-align: top;
      width: 98%; }
    .listbox ul li a {
      display: block; }
      .listbox ul li a:hover {
        color: #f47e57; }
        .listbox ul li a:hover em {
          background: #f47e57; }

.pages {

  padding: 30px 0;
   }
.pages input {BORDER: #AFD5F5 1px solid;}
  .pages span {
    margin-right: 4px;
    vertical-align:top;
    display: inline-block; }
  .pages a {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle; }
  .pages a.prevnext {
    display: inline-block;
    width: 11px;
    height: 21px; }
    .pages a.prevnext i {
      display: inline-block;
      vertical-align: middle;
      width: 11px;
      height: 21px;
      background: url(../image/ico_index2.png) 0 0 no-repeat; }
    .pages a.prevnext i.ico-prev {
      background-position: -118px 0; }
    .pages a.prevnext i.ico-next {
      background-position: -133px 0; }

.imglistbox ul {
  padding-top: 30px; }
  .imglistbox ul li {
    width: 250px;
    float: left;
    margin: 0 17px 10px 30px; }
    .imglistbox ul li .img {
      width: 244px;
      height: 164px;
      border: 3px solid #ffefea;
      background: #ffefea;
      display: table;
      overflow: hidden; }
      .imglistbox ul li .img span {
        display: table-cell;
        *display: block;
        vertical-align: middle;
        text-align: center; }
        .imglistbox ul li .img span img {
          max-width: 244px;
          max-height: 164px; }
    .imglistbox ul li p {
      font-size: 16px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 10px 0; }
    .imglistbox ul li a:hover .img {
      border: 3px solid #f4d1c6; }

.arc-cont .title {
  padding: 45px 0;
  text-align: center; }
  .arc-cont .title h2 {
    font-weight: normal;
    font-size: 24px; }
  .arc-cont .title .line {
    width: 86px;
    height: 2px;
    background: #f47e57;
    margin: 20px auto; }
  .arc-cont .title .ot {
    font-size: 12px;
    color: #808080; }
    .arc-cont .title .ot span {
      margin: 0 15px; }
.arc-cont .content {
  padding-bottom: 20px; 
list-style:none; }
  .arc-cont .content p.img {
    text-align: center;
    margin-bottom: 20px; 
    max-width:1200px;}
    .arc-cont .content p.img img {
      max-width: 100%; }
  .arc-cont .content p {
    font-size: 16px;
    line-height: 32px; }
.arc-cont .fujian {
  padding: 20px;
  color: #f47e57;
  line-height: 30px; }
  .arc-cont .fujian ul li a {
    color: #f47e57; }
    .arc-cont .fujian ul li a:hover {
      color: #000; }
.arc-cont .prevnextpg {
  border-top: 1px solid #297ed3;
  padding: 20px; }
  .arc-cont .prevnextpg dl {
    line-height: 24px;
    margin-bottom: 10px; }
    .arc-cont .prevnextpg dl dt {
      float: left;
      display: block;
      width: 57px; }
    .arc-cont .prevnextpg dl dd {
      float: left;
      width: 1100px; }

.jghbox {
  margin-top: 40px; }
  .jghbox li {
    float: left;
    width: 552px;
    margin-left: 30px;
    margin-bottom: 20px; }
    .jghbox li .photo {
      width: 546px;
      height: 330px;
      border: 3px solid #e5f4ff;
      background: #e5f4ff;
      display: table;
      overflow: hidden; }
      .jghbox li .photo span {
        display: table-cell;
        *display: block;
        vertical-align: middle;
        text-align: center; }
        .jghbox li .photo span img {
          max-width: 546px;
          max-height: 330px; }

.comprebox {
  padding: 16px 0; }
  .comprebox .in-title2 {
    border-bottom: 1px solid #7fafde;
    padding: 5px 0;
    line-height: 24px; }
    .comprebox .in-title2 h2 {
      font-size: 16px;
      color: #297ed3;
      float: left;
      width: 1080px; }
    .comprebox .in-title2 a.more {
      float: right;
      color: #1f5e9c;
      font-size: 12px; }
      .comprebox .in-title2 a.more:hover {
        color: #000; }
  .comprebox .cont ul li {
    border-bottom: 1px dashed #dfdfdf;
    padding: 15px 0; }
    .comprebox .cont ul li em {
      display: inline-block;
      vertical-align: top;
      width: 4px;
      height: 4px;
      background: #9b9b9b;
      margin-right: 10px;
      position: relative;
      top: 8px;
      *top: 6px; }
    .comprebox .cont ul li h2 {
      font-weight: normal;
      display: inline-block;
      *display: inline;
      vertical-align: top;
      width: 98%; }
    .comprebox .cont ul li a {
      display: block; }
      .comprebox .cont ul li a:hover {
        color: #f47e57; }
        .comprebox .cont ul li a:hover em {
          background: #f47e57; }

.pages table tbody tr td table tbody tr td div{line-height:20px!important;}
.PrevDisabled{display: block !important; float: left !important;}
.pages a{display: block !important; float: left !important;}
.pages table tbody tr td table tbody tr td div input{line-height: 20px !important; height: 20px !important; margin-left: 3px !important;}
.pages table tbody tr td table tbody tr td div input:last-child{line-height: 18px !important; height:18px !important;}